html[data-theme="dark"] {

/*     --pst-color-background: #181a1f; */
    --pst-color-background: #282c34;
    --pst-color-primary: #61afef;
    --pst-color-secondary: #d19a66;
    --pst-color-success: #98c379;
    --pst-color-info: #61afef;
    --pst-color-warning: #d19a66;
    --pst-color-danger: #e86671;
    --pst-color-on-background: #31353f;
    --pst-color-surface: #31353f;
    --pst-color-on-surface: #393f4a;
    --pst-color-target: #382b2c;
}

html[data-theme=dark] img:not(.only-dark):not(.dark-light) {
     filter:brightness() contrast()
}

.hl_ora {
    color:#d19a66;
}
